<!DOCTYPE html>
<html>
<head>
	<title>Book Recommder System</title>
	<!-- Link to Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<!-- Link to custom CSS -->
    <style>
		.navbar-brand img {
			height: 30px; /* Adjust height as needed */
			margin-right: 10px;
		}
        .mcard {
            align-items: center;
        }
	</style>
	
</head>
<body>

	<!-- Navigation Bar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#" style="font-size: 25px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
			<img src="https://img.freepik.com/premium-vector/beautiful-girls-are-reading-books-with-smiles_28461-131.jpg?w=740" style="height: 110px;width: auto;margin-right: 30px;margin-left: 50px;"> Book Recommder System
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/"><img src="https://cdn-icons-png.flaticon.com/512/2549/2549900.png" alt="Home" style="width: 30px;height: auto;margin-left: 30px;margin-right: 25px;"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/recommed"><img src="https://cdn-icons-png.flaticon.com/512/3820/3820147.png" alt="Home" style="width: 30px;height: auto;margin-left: 30px;margin-right: 25px;"></a>
				</li>
                <li class="nav-item">
					<a class="nav-link" href="/about"><img src="https://cdn-icons-png.flaticon.com/512/4210/4210456.png" alt="Home" style="width: 30px;height: auto;margin-left: 30px;margin-right: 25px;"></a>
				</li>
			
			</ul>
		</div>
	</nav>

    <h1>Hello My Name is Gurav Paithane</h1>

</body>
</html>
